<head>
  <title>
    Waregems Gitaarensemble Alegria
    {% if page.title != nil %}
     - {{page.title}}
     {% endif %}
  </title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lte IE 8]><script src="/assets/js/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="/assets/css/main.css" />
  <!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->
  <!--[if lte IE 9]><link rel="stylesheet" href="/assets/css/ie9.css" /><![endif]-->
  {% if page.layout != 'event'}
    {% seo %}
  {% endif %}
  <meta name="google-site-verification" content="M7b34NDxj1UDRK3G_sdrWnNI70-FlyZ5QFu40BiXBlE" />
</head>
