<header>
  <h2>Links</h2>
  <!-- <p>Odio turpis amet sed consequat eget posuere consequat.</p> -->

</header>

<div class="container">
  <div class="row">

    <div class="6u 12u(mobile)">
      <section class="box style1">
        <h3>Muziekhandels</h3>
        <p>
          <ul>
            <li><a href="http://www.lutheriedecorte.be/">Lutherie Decorte</a></li>
            <li><a href="http://www.antares-gitaren.be/winkel.asp"> Antares</a></li>
            <li><a href=" http://www.muziekhandeloudenaarde.be/">Muziekhandel Oudenaarde</a></li>
            <li><a href=" http://www.rombaux.be/">Rombaux</a></li>
          </ul>
        </p>
      </section>
    </div>

    <div class="6u 12u(mobile)">
      <section class="box style1">
        <h3>Vereningingen</h3>
        <p>
          <ul>
            <li><a href="http://www.gitaarmaarwaar.com">Gitaar Maar Waar</a> Vereniging ter ondersteuning van jong gitaartalent</li>
            <li><a href="http://www.vlamo.be">Vlamo</a> Vereniging ter ondersteuning van amateurmuzikanten en amateurensembles</li>
          </ul>
        </p>
      </section>
    </div>

  </div>

  <div class="row">

    <div class="6u 12u(mobile)">
      <section class="box style1">
        <h3>Bevriende ensembles</h3>
        <p>
          <ul>
            <li><a href="http://www.cgo.org.uk/">Cambridge Guitar Orchestra (UK)</a></li>
            <li><a href="http://www.lybraguitarorchestra.it">Lybra Guitar Orchestra (IT)</a></li>
            <li><a href="http://www.guitare-essonne.com/">Guitare Essone (FR)</a></li>
            <li><a href="http://www.cuerda.be">Cuerda (BE)</a></li>
          </ul>
        </p>
      </section>
    </div>
    <div class="6u 12u(mobile)">
      <section class="box style1">
        <h3>Componisten</h3>
        <p>
          <ul>
            <li><a href="http://www.chrisdumigan.co.uk/">Chris Dumigan (UK)</a></li>
            <li><a href="http://www.soundclick.com/bands/default.cfm?bandID=787541">Luc Sterckx (BE)</a></li>
            <li><a href="http://www.geraldgarcia.com/wordpress/">Gerald Garcia (UK)</a></li>
            <li><a href="http://marleencasteele.wordpress.com/">Marleen Casteele (BE)</a></li>
          </ul>
        </p>
      </section>
    </div>

  </div>
</div>
